{% extends 'admin/admin_base.html' %}
{% load static %}
{% block body %}
  <main id="main" class="main">
<div class="pagetitle">
      <h1>User Details</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Home</a></li>
          <li class="breadcrumb-item">Tables</li>
          <li class="breadcrumb-item active">Data</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section">
      <div class="row">
        <div class="col-lg-12">

          <div class="card">
            <div class="card-body">
              <h5 class="card-title">User Details</h5>

              <!-- Table with stripped rows -->
              <table class="table datatable">
                <thead>
                  <tr>
                    <th>
                      <b>Name</b>
                    </th>
                    <th>Email Id</th>
                    <th>Username</th>
                    <th data-type="date" data-format="YYYY/DD/MM">Joined Date</th>
                    <th>User Type</th>
                    <th>Action</th>
                  </tr>
                </thead> 
                <tbody>
                    {% for user in profiles_with_lsps %}
                  <tr>
                    <td>{{ user.user_det.first_name }} {{user.user_det.last_name }}</td>
                    <td>{{ user.user_det.email }}</td>
                    <td>{{ user.user_det.username }}</td>
                    <td>{{ user.user_det.date_joined}}</td>
                    <td>{{ user.lsp_user.lsp_type}}</td>
                    <td> <a type="button" href="{% url 'admin_app:admin_lsp_profile' user.user_det.username  %}" class="btn btn-primary"><i class="bi bi-info-circle"></i>&nbsp;View</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            {%  endblock %}

            </div>
          </div>
        </div>
      </div>
    </section>

  </main>